/* en este archivo van variables para reutilizar puede ser colores, tipografia etc */

//  colores de marca
$brand-primary: #1a2d5c;
$brand-secondary-magenta: #c71585;
$brand-secondary-cyan: #00bcd4;

//  colores de fondo  Colores de fondo con tonos inspirados en la UCL
$bg-body: #e6e9ec;
$bg-header: #1b2655;
$bg-footer: #141b3c;

//  colores de texto
$text-main: #1a2d5c;
$text-secondary: aliceBlue;
$text-light: #999;
$text-inverted: #fff;

// colores de botones

$btn-primary-bg: #1a2d5c;
$btn-primary-text: #fff;

$btn-secondary-bg: #c71585;
$btn-secondary-text: #fff;

$btn-danger-bg: #d32f2f;
$btn-danger-text: #fff;

//  colores de alertas y estados

$success-bg: #00bcd4;
$success-text: #fff;

$error-bg: #d32f2f;
$error-text: #fff;

$warning-bg: #ffcc00;
$warning-text: #1a2d5c;

$info-bg: #1a2d5c;
$info-text: #fff;

// escala de grises (Para bordes, fondos secundarios, etc.)

$gray-100: #eef2f8;
$gray-200: #d9e1f2;
$gray-300: #bcc8e6;
$gray-400: #a0aed6;
$gray-500: #7081b9;
$gray-600: #54629b;
$gray-700: #3b4779;
$gray-800: #27315c;
$gray-900: #1a1f3b;
