@use "base/variables" as v;
// banner principal
.banner-container {
  // banner
  margin-top: 80px;
  background-image: url("/build/img/banner.webp");
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  // color de fondo del banner
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  // texto
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  h2 {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    z-index: 1;
    color: v.$text-secondary;
  }

  @media (max-width: v.$tablet) {
    min-height: 50vh;
    h2 {
      font-size: 1.5rem;
    }
  }
}

// contenedores de about y posts
.about-container {
  //border: solid red 1px;
  text-align: center;
  padding: 4rem 2rem;
  background-color: v.$bg-body;
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: v.$text-main;
  }

  .about-grid {
    //border: solid rgb(37, 206, 107) 3px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1300px;
    margin: 0 auto;
  }

  .about-item {
    background: white;
    padding: 2rem;
    //border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    img {
      width: 80px;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.5rem;
      color: v.$brand-primary;
      margin-bottom: 0.5rem;
    }

    p {
      color: v.$text-light;
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  @media (max-width: v.$tablet) {
    padding: 3rem 1rem;
  }
}

// banner secundario
.post-banner-container {
  // banner
  margin-top: 80px;
  background-image: url("/build/img/posts.webp");
  min-height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  // color de fondo del banner
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  // texto
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  h2 {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    z-index: 1;
    color: v.$text-secondary;
  }

  @media (max-width: v.$tablet) {
    min-height: 30vh;
    h2 {
      font-size: 1.5rem;
    }
  }
}

.posts-container {
  //border: solid red 1px;
  margin-top: 80px;
  text-align: center;
  padding: 4rem 2rem;
  background-color: v.$bg-body;
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: v.$text-main;
  }

  .about-grid {
    //border: solid rgb(37, 206, 107) 3px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1300px;
    margin: 0 auto;
  }

  .about-item {
    background: white;
    padding: 2rem;
    //border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    img {
      max-width: 100%;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.5rem;
      color: v.$brand-primary;
      margin-bottom: 0.5rem;
    }

    p {
      color: v.$text-light;
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  @media (max-width: v.$tablet) {
    padding: 3rem 1rem;
  }
}
