// forma recomendada
@use "base";
@use "layout";
@use "pages";

.select-hour {
  background-color: rgb(74, 189, 189);
}

.hidden {
  visibility: hidden;
}

.button-disabled {
  color: skyblue;
}

.my-reservations-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
